body{
font-family: Arial;
background:#121212;
color:white;
text-align:center;
}

header{
background:#1f1f1f;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:50px;
}

.product{
background:#1f1f1f;
padding:30px;
margin:40px auto;
width:300px;
border-radius:10px;
}

.price{
font-size:25px;
color:#00ff99;
}

button{
padding:10px 20px;
background:#00ff99;
border:none;
cursor:pointer;
font-size:16px;
border-radius:5px;
}